<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
   id="WebApp_ID" version="4.0">
   <display-name>GugudanEx01</display-name>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>default.htm</welcome-file>
   </welcome-file-list>


   <servlet>
      <servlet-name>gugudan1</servlet-name>
      <servlet-class>servlet1.GugudanServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>gugudan1</servlet-name>
      <url-pattern>/gugudan1</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>gugudan</servlet-name>
      <servlet-class>gugudan.GugudanServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>gugudan</servlet-name>
      <url-pattern>/gugudan</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>gugudan_ok</servlet-name>
      <servlet-class>gugudan.GugudanOkServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>gugudan_ok</servlet-name>
      <url-pattern>/gugudan_ok</url-pattern>
   </servlet-mapping>
</web-app>